body{
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background: url("../imagens/day-bg.jpg") center center repeat;
}

body.modo-escuro{
    background: url("../imagens/night-bg") center center repeat;
    color: #ffffff;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

header .logo,
header .imagem-botao{
    width: 30px;
    transition: 0.2s ease-in-out;
}

header #botao-alterar-tema{
    background: none;
    border: none;
    cursor: pointer;
}

header .logo:hover,
header .imagem-botao:hover,
main .cartao-pokemon:hover{
    transform: scale(1.20);
    cursor: pointer;
}

main{
    padding: 25px;
}

main .listagem-pokemon{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

main .cartao-pokemon{
    background: url("../imagens/cute-kawaii-backgrounds-9\ \(1\).jpg") center center no-repeat;
    background-size: cover;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

main .cartao-pokemon:hover{
    background-color: #96d9d6;
}

.modo-escuro .cartao-pokemon{
    background: url("../imagens/night.jpg") center center no-repeat;
    background-size: cover;
}

main .cartao-pokemon .informacoes{
    display: flex;
    justify-content: space-between;
    border: 1px solid #333333;
    border-radius: 10px;
}

main .cartao-pokemon .informacoes span{
    padding: 5px;
    text-transform: uppercase;
    font-size: 17px;
}

main .cartao-pokemon .gif{
    width: 80px;
    height: 90px;    
}

main .cartao-pokemon .tipos{
    display: flex;
    gap: 15px;    
}

main .cartao-pokemon .tipo{
    padding: 8px;
    border-radius: 10px;
    font-size: 16.7px;
}

main .descricao{
    max-height: 80px;
    overflow-y: scroll;
    font-size: 14px;
    padding-right: 10px;
}

.grama{
    background-color: #7ac74c;
}

.veneno{
    background-color: #df67ddfb;
}

.fogo{
    background-color: #ee8130;
}

.agua{
    background-color: #6390f0;
}

.fantasma{
    background-color: #705898;
}

.gelo{
    background-color: #98D8D8;
}

.voador{
    background-color: #A890F0;
}

.dragao{
    background-color: #7038F8;
}

.psiquico{
    background-color: #F85888;
}
